# Port Server Backend
PORT=6032

# URL yang diizinkan CORS (sesuaikan dengan URL frontend)
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

# Konfigurasi Database MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=db_attendance_gateway

# Level Log untuk debugging ('debug' untuk melihat raw request dari mesin)
LOG_LEVEL=debug
